body {
    text-align: center;
    background: url(./images/paintbg.jpg) center center fixed;
    background-size: cover;
}

#header {
    background: linear-gradient(white, rgba(67, 169, 228, 0.9));
    background: -webkit-linear-gradient(white, rgba(67, 169, 228, 0.9));
    background: -moz-linear-gradient(white, rgba(67, 169, 228, 0.9));
    background: -o-linear-gradient(white, rgba(67, 169, 228, 0.9));
    height: 80px;
    width: 500px;
    margin: 10px auto;
    font-size: 3em;
    color: #fff;
    line-height: 80px;
}

.inputContainer {
    width: 200px;
    margin: 0 auto;
}

.input {
    height: 30px;
    font-size: 1.3em;
}

#thicknessInput {
    position: relative;
}

#slider {
    margin: 10px auto;
}

#circle {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: black;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#container {
    width: 500px;
    height: 400px;
    border: 1px solid rgba(122, 174, 229, 0.5);
    margin: 10px auto;
}

#paint {
    background-color: #fff;
    cursor: crosshair;
}

.inputContainer2 {
    width: 399px;
    margin: auto;
}

.input2 {
    width: 133px;
    color: #5bb4e7;
    font-size: 1.5em;
    float: left;
}

.button {
    background: #fff;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.button:hover {
    color: white;
    background: linear-gradient(white, rgba(67, 169, 228, 0.9));
    background: -webkit-linear-gradient(white, rgba(67, 169, 228, 0.9));
    background: -moz-linear-gradient(white, rgba(67, 169, 228, 0.9));
    background: -o-linear-gradient(white, rgba(67, 169, 228, 0.9));
}

.button:active {
    top: 4px;
}

.eraseMode {
    background-color: red;
    color: white;
}