body{
    background-color: rgb(241, 248, 58);
    background-image: url('wallpaper.jpg');
}
#bg-primary{
    background-color: rgb(241, 246, 91);

}
.line{
    margin-bottom: 25;
}
.card-img-top{
    margin-top: 2rem;
    border-radius: 12px;
}
.card-title{
    color: rgb(239, 255, 146);
}
.card-text{
    color: rgb(148, 122, 224);
}
#card{
    background-color: rgb(120, 203, 216);
    border-radius: 12px;
}