body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.grid {
  border: 1px solid;
  height: 300px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 50px;
  width: 50px;
}

.player-one {
  background-color: red;
  border-radius: 25px;
}

.player-two {
  background-color: blue;
  border-radius: 25px;
}
