*
{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.background{
    width: 100%;
    height: 100vh;
    background-color: #333;
    opacity: 0.9;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-right: 20%;
    padding-top: 20%;
    padding-left: 20%;
}
.text{
    width: 100%;
    background-color: #333;
    opacity: 0.9;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border: 2px solid #fff;
    border-radius: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 10px;
    padding-left: 10px;
}
h1{
    display: inline;
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'poppins';
}
h3{
    display: inline;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgba(236, 232, 232, 0.8);
    font-family: 'poppins';
}
footer{
    position:relative;
    width:100%;
    height:100px;
    background-color: #3586ff;
    text-align: center;
    align-content: center;
}
.footer-text{
    list-style-type: none; 
    color: #fff;
    opacity: 0.9; 
    font-family: 'poppins',sans-serif; 
    font-size: 22px;
}
footer .wave{
    position: absolute;
    top: -50px;
    left:0;
    width:100%;
    height:100px;
}
footer .wave#wave1{
    background: url(wave.png);
    background-size: 1000px 100px;
    z-index: 1000;
    opacity: 1;
    bottom:10px;
    animation: animatewave1 3s linear infinite;
}
footer .wave#wave2{
    background: url(wave.png);
    background-size: 1000px 100px;
    z-index: 999;
    opacity: 0.4;
    bottom: 10px;
    animation: animatewave2 3s linear infinite;
}
footer .wave#wave3{
    background: url(wave.png);
    background-size: 1000px 100px;
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave1 2s linear infinite;
}
footer .wave#wave4{
    background: url(wave.png);
    background-size: 1000px 100px;
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave2 2s linear infinite;
}
@keyframes animatewave1{
    0%
    {
       background-position-x: 1000px;
    }
    100%
    {
       background-position-x: 0px;
    }
}
@keyframes animatewave2{
    0%
    {
       background-position-x: 0px;
    }
    100%
    {
       background-position-x: 1000px;
    }
}