body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }
