:root{
   --left-bg-color: rgba(83, 185, 216, 0.7);
   --right-bg-color: rgba(18, 19, 18, 0.7);
   --left-btn-hover-color: rgb(22, 47, 75);
   --right-btn-hover-color: rgb(15, 63, 18);
   --hover-width: 75%;
   --other-width: 25%;
   --speed: 1000ms;
}

*{
   box-sizing: border-box;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
}

.container{
   position: relative;
   width: 100%;
   height: 100%;
   background: rgb(61, 59, 59);
}

h1{
   font-size: 3rem;
   color: white;
   position: absolute;
   left: 50%;
   top: 20%;
   transform: translateX(-50%);
   white-space: nowrap;
}

.btn{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   left: 50%;
   top: 40%;
   transform: translateX(-50%);
   text-decoration: none;
   color: white;
   border: white solid 0.2rem;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
   width: 15rem;
   padding: 1.5rem;
}

.split.left .btn:hover{
   background-color: var(--left-btn-hover-color);
   border: var(--left-btn-hover-color);
}
.split.right .btn:hover{
   background-color: var(--right-btn-hover-color);
   border: var(--right-btn-hover-color);
}
.split{
   width: 50%;
   position: absolute;
   height: 100%;
   overflow: hidden;
}

.split.left{
   left: 0;
   background: url('image1.jfif');
   background-repeat: no-repeat;
   background-size: cover;
}

.split.left::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: var(--left-bg-color);
}

.split.right{
   right: 0;
   background: url('image2.jfif');
   background-repeat: no-repeat;
   background-size: cover;
}

.split.right::before{
   content: ' ';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: var(--right-bg-color);
}

.split.right, .split.left, .split.left::before, .split.right::before{
   transition: all var(--speed) ease-in-out;
}

.hover-left .left{
   width: var(--hover-width);
}

.hover-left .right{
   width: var(--other-width);
}

.hover-right .right{
   width: var(--hover-width);
}

.hover-right .left{
   width: var(--other-width);
}

