html {
  height: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
* {
  font-family: "Nunito", sans-serif;
}
body {
  margin-top: 60px;
}

#container {
  height: 610px;
  width: 750px;
  background-color: #7d695e;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px 0px #55311c;
  position: relative;
}

#score {
  background-color: goldenrod;
  color: black;
  padding: 5px;
  position: absolute;
  left: 650px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  font-size: larger;
  font-weight: 700;
}

#fruitsContainer {
  width: 650px;
  height: 400px;
  margin: 50px auto 10px auto;
  background-color: lightyellow;
  box-shadow: 0px 4px #55311c;
  font-size: 100px;
  text-align: center;
  font-family: cursive, sans-serif;
  position: relative;
  overflow: hidden;
}

#instruction {
  width: 250px;
  height: 50px;
  background-color: #d2b48c;
  margin: 0px auto;
  text-align: center;
  line-height: 45px;
  font-family: cursive, sans-serif;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}

#choices {
  width: 450px;
  height: 100px;
  margin: 5px auto;
}

.box {
  width: 85px;
  height: 85px;
  background-color: lightgoldenrodyellow;
  float: left;
  margin-right: 36px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: x-large;
  font-family: cursive, sans-serif;
  line-height: 85px;
  position: relative;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

.box:hover,
#startreset:hover {
  background-color: brown;
  color: white;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}

.box:active,
#startreset:active {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  top: 4px;
}

#box4 {
  margin-right: 0;
}

#startreset {
  width: 120px;
  padding: 2px;
  background-color: goldenrod;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: large;
  font-family: cursive, sans-serif;
  position: relative;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

#trialsLeft {
  width: 90px;
  padding: 5px;
  position: absolute;
  background-color: goldenrod;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  display: none;
}

#gameOver {
  height: 200px;
  width: 500px;
  background: linear-gradient(#55311c, #7d695e);
  color: white;
  font-size: 2.5em;
  font-family: cursive, sans-serif;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 170px;
  left: 145px;
  z-index: 2;
  display: none;
}

.life {
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.fruit {
  display: none;
  position: absolute;
}
